<div class="box">
    <div class="box-body">
        <form id="book">
            <div class="form-group">
                <label>{:lang('input.title')}</label>
                <input type="text" name="title" class="form-control">
            </div>

            <div class="form-group">
                <label>{:lang('input.keywords')}</label>
                <textarea name="keywords" class="form-control"></textarea>
            </div>

            <div class="form-group">
                <label>{:lang('input.description')}</label>
                <textarea name="description" class="form-control"></textarea>
            </div>

            <div class="form-group">
                <label>{:lang('input.origin')}</label>
                <textarea name="origin" class="form-control"></textarea>
            </div>

            <div class="form-group">
                <label>{:lang('input.image')}</label>
                <input type="text" name="image" class="image form-control">
                <input type="file" name="upload" id="upload" v-on:change="upload" class="form-control">
                <img class="image-box" v-if="items.image" v-bind:src="items.image">
            </div>

            <div class="form-group">
                <label>{:lang('input.type')}</label>
                <select class="form-control" name="type_id">
                    <option value="0">{:lang('button.select')}</option>
                    <template v-for="vo in items.type_list">
                        <option v-bind:value="vo.id" v-text="vo.name"></option>
                    </template>
                </select>
            </div>

            <div class="form-group">
                <label>{:lang('input.pass')}</label>
                <label>
                    <input type="radio" name="is_pass" value="1" >
                    {:lang('button.yes')}
                </label>
                <label>
                    <input type="radio" name="is_pass" value="0" checked>
                    {:lang('button.no')}
                </label>
            </div>

            <div class="form-group">
                <label>{:lang('input.status')}</label>
                <label>
                    <input type="radio" name="status" value="1" >
                    更新
                </label>
                <label>
                    <input type="radio" name="status" value="2" >
                    完结
                </label>
                <label>
                    <input type="radio" name="status" value="3" checked>
                    太监
                </label>
            </div>

            <div class="form-group">
                <label>{:lang('input.attribute')}</label>
                <label>
                    <input type="radio" name="attribute" value="1">{:lang('button.commend')}
                </label>
                <label>
                    <input type="radio" name="attribute" value="2">{:lang('button.top')}
                </label>
                <label>
                    <input type="radio" name="attribute" value="3">{:lang('button.hot')}
                </label>
                <label>
                    <input type="radio" name="attribute" value="0" checked="checked"> {:lang('button.no')}
                </label>
            </div>

            <div class="form-group">
                <label>{:lang('input.sort')}</label>
                <input type="text" name="sort_order" class="form-control" v-bind:value="items.sort_order">
            </div>
        </form>
    </div>
    <div class="box-footer">
        <button class="btn btn-primary" @click="save">{:lang('button.save')}</button>
    </div>
</div>
<script>
    var book = new Vue({
        el: '.box',
        data: {
            type_list: [],
            items: [],
        },
        methods: {
            find: function() {
                jQuery.pjax({
                    url: NICMS.api_uri + 'query.do',
                    type: 'GET',
                    data: [
                        { name: 'method', value: 'book.book.find' },
                        { name: 'id', value: NICMS.param.id }
                    ],
                    success: function (result) {
                        if (10000 == result.code) {
                            book.items = result.data;
                        }
                    }
                });
            },
            save: function() {
                var data = jQuery('#book').serializeArray();
                data.push({ name: 'method', value: 'book.book.save' });
                data.push({ name: 'id', value: NICMS.param.id });
                jQuery.pjax({
                    url: NICMS.api_uri + 'handle.do',
                    type: 'POST',
                    data: data,
                    success: function (result) {
                        if (10000 == result.code) {
                            jQuery.uiToast(result.message);
                            history.back();
                        }
                    }
                });
            },
            upload: function() {
                var data = new FormData(document.getElementById('book'));
                data.append('method', 'book.book.upload');
                data.append('thumb_width', 100);
                data.append('thumb_height', 100);
                data.append('water', 1);

                jQuery.upload({
                    url: NICMS.api_uri + 'upload.do',
                    file: 'book',
                    data: data,
                    success: function (result) {
                        jQuery.uiToast(result.message);
                        if (10000 == result.code) {
                            jQuery('.image').val(result.data.save_path);
                            jQuery('.image-box').show().attr('src', result.data.url);
                        }
                    }
                });
            }
        }
    });
    // book.find();
</script>
