<div id="app">
    <div class="row">
        <div class="col">
            <h4 style="text-align: center;" v-text="items.title"></h4>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div id="content" v-html="items.content"></div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <a v-if="items.prev" v-bind:href="items.prev.url" v-text="items.prev.title"></a>
        </div>
        <div class="col" style="text-align: right;">
            <a v-if="items.next" v-bind:href="items.next.url" v-text="items.next.title"></a>
        </div>
    </div>
</div>


<script>
    let article = new Vue({
        el: '#app',
        data: {
            items: []
        },
        methods: {
            load: function () {
                jQuery.pjax({
                    url: NICMS.api_uri + '/query.do',
                    type: 'GET',
                    data: [
                        { name: 'method', value: 'book.article.query' },
                        { name: 'id', value: NICMS.param.id },
                        { name: 'book_id', value: NICMS.param.book_id },
                    ],
                    success: function (result) {
                        article.items = result.data;
                    }
                });
            }
        }
    });
    article.load();
</script>
