<div id="app">
    <div class="row">
        <div class="col">
            <h4 style="text-align: center;" v-html="items.title"></h4>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <a v-if="items.prev" v-bind:href="items.prev.url">上一章</a>
        </div>
        <div class="col" style="text-align: center;">
            <a v-bind:href="items.book_url">目录</a>
        </div>
        <div class="col" style="text-align: center;">
            <a v-if="items.next" v-bind:href="items.next.url">下一章</a>
        </div>
        <div class="col but">
            <font v-on:click="plus">+</font>
            <font v-on:click="minus">-</font>
            <font v-on:click="bright">开灯</font>
            <font v-on:click="dark">关灯</font>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div id="content" v-html="items.content"></div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <a v-if="items.prev" v-bind:href="items.prev.url">上一章</a>
        </div>
        <div class="col">
            <a v-if="items.next" v-bind:href="items.next.url">下一章</a>
        </div>
        <div class="col" style="text-align: center;">
            <a v-bind:href="items.book_url">目录</a>
        </div>
        <div class="col"></div>
    </div>
</div>

<script>
    let article = new Vue({
        el: '#app',
        data: {
            items: []
        },
        methods: {
            bookmarks: function () {
                window.localStorage.setItem("bookmarks_" + NICMS.param.book_id, JSON.stringify({
                    book: article.items.book_title,
                    title: article.items.title,
                    url: article.items.url,
                }));
            },
            plus: function () {

            },
            minus: function () {

            },
            bright: function () {
                window.localStorage.setItem("dark", 0);
                jQuery("body").removeClass("dark");
            },
            dark: function () {
                window.localStorage.setItem("dark", 1);
                jQuery("body").addClass("dark");
            },
            load: function () {
                if (1 == window.localStorage.getItem("dark")) {
                    jQuery("body").addClass("dark");
                }

                jQuery.pjax({
                    url: NICMS.api_uri + 'ajax.do',
                    type: 'GET',
                    data: [
                        { name: 'method', value: 'book.article.query' },
                        { name: 'id', value: NICMS.param.id },
                        { name: 'book_id', value: NICMS.param.book_id },
                    ],
                    success: function (result) {
                        article.items = result.data;
                        article.bookmarks();

                        if (1 === article.items.status) {
                            jQuery.pjax({
                                url: NICMS.api_uri + 'ajax.do',
                                type: 'GET',
                                data: [
                                    { name: 'method', value: 'book.spider.article' },
                                    { name: 'book_id', value: NICMS.param.book_id }
                                ],
                                success: function (res) {

                                }
                            });
                        }
                    }
                });
            }
        }
    });
    article.load();
</script>
