<div id="app">
    <div class="row">
        <div class="col">
            <h4 style="text-align: center;" v-text="items.title"></h4>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <a v-if="items.prev" v-on:click="prevOrNext(items.prev.id)">上一章</a>
        </div>
        <div class="col" style="text-align: center;">
            <a v-bind:href="items.book_url">目录</a>
        </div>
        <div class="col" style="text-align: center;">
            <a v-if="items.next" v-on:click="prevOrNext(items.next.id)">下一章</a>
        </div>
        <div class="col">
            <a v-on:click="bright">开灯</a>
            <a v-on:click="dark">关灯</a>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div id="content" v-html="items.content"></div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <a v-if="items.prev" v-on:click="prevOrNext(items.prev.id)">上一章</a>
        </div>
        <div class="col">
            <a v-if="items.next" v-on:click="prevOrNext(items.next.id)">下一章</a>
        </div>
        <div class="col" style="text-align: center;">
            <a v-bind:href="items.book_url">目录</a>
        </div>
        <div class="col"></div>
    </div>
</div>

<script>
    let article = new Vue({
        el: '#app',
        data: {
            items: []
        },
        methods: {
            bright: function () {
                jQuery("body").removeClass("dark");
            },
            dark: function () {
                jQuery("body").addClass("dark");
            },
            prevOrNext: function (_id) {
                jQuery.pjax({
                    url: NICMS.api_uri + '/query.do',
                    type: 'GET',
                    push: true,
                    async: false,
                    requestUrl: NICMS.domain + 'article/' + NICMS.param.book_id + '/' + _id + '.html',
                    data: [
                        { name: 'method', value: 'book.article.query' },
                        { name: 'id', value: _id },
                        { name: 'book_id', value: NICMS.param.book_id },
                    ],
                    success: function (result) {
                        jQuery("html,body").animate({ scrollTop: 0 }, 100);
                        article.items = result.data;
                    }
                });
                if (1 === article.items.status) {
                    jQuery.pjax({
                        url: NICMS.api_uri + '/query.do',
                        type: 'GET',
                        data: [
                            { name: 'method', value: 'book.spider.article' },
                            { name: 'book_id', value: NICMS.param.book_id }
                        ],
                        success: function (res) {

                        }
                    });
                }
            },
            load: function () {
                jQuery.pjax({
                    url: NICMS.api_uri + '/query.do',
                    type: 'GET',
                    data: [
                        { name: 'method', value: 'book.article.query' },
                        { name: 'id', value: NICMS.param.id },
                        { name: 'book_id', value: NICMS.param.book_id },
                    ],
                    success: function (result) {
                        article.items = result.data;

                        if (1 === article.items.status) {
                            jQuery.pjax({
                                url: NICMS.api_uri + '/query.do',
                                type: 'GET',
                                data: [
                                    { name: 'method', value: 'book.spider.article' },
                                    { name: 'book_id', value: NICMS.param.book_id }
                                ],
                                success: function (res) {

                                }
                            });
                        }
                    }
                });
            }
        }
    });
    article.load();
</script>
