<div id="app">
    <div class="row">
        <div class="col">
            <h3 v-html="book.title"></h3>
            <p v-text="book.author"></p>
            <p v-if="book.status == 1">连载</p>
            <p v-if="book.status == 2">完结</p>
            <p v-if="book.status == 3">太监</p>
        </div>
    </div>

    <div v-if="bookmarks">
        <a v-bind:href="bookmarks.url">
            <span v-text="bookmarks.book"></span>
            <span v-text="bookmarks.title"></span>
        </a>
    </div>

    <div class="row">
        <template v-for="vo in items">
            <div class="col-6">
                <a style="margin:10px 0;display:flex;" v-bind:href="vo.url" v-html="vo.title"></a>
            </div>
        </template>
    </div>

    <div class="row">
        <div class="col">
            <nav aria-label="Page navigation example" v-html="page"></nav>
        </div>
    </div>
</div>

<script>
    let app = new Vue({
        el: '#app',
        data: {
            bookmarks: null,
            book: [],
            items: [],
            page: '',
        },
        methods: {
            html_decode: function (entity) {
                var div = document.createElement('div');
                div.innerHTML = entity;
                var res = div.innerText || div.textContent;
                return res;
            },
            load: function (_p) {
                app.bookmarks = window.localStorage.getItem("bookmarks_" + NICMS.param.book_id);
                app.bookmarks = app.bookmarks ? JSON.parse(app.bookmarks) : null;

                var request = NICMS.url + '?page=' + _p;
                jQuery.pjax({
                    url: NICMS.api_uri + 'ajax.do',
                    type: 'GET',
                    push: true,
                    replace: true,
                    requestUrl: request,
                    data: [
                        { name: 'method', value: 'book.catalog.query' },
                        { name: 'book_id', value: NICMS.param.book_id },
                        { name: 'limit', value: 100 },
                        { name: 'page', value: _p },
                    ],
                    success: function (result) {
                        if (result.code == 10000) {
                            app.items = result.data.list;
                            app.page = result.data.page;
                            app.book = result.data.book;

                            if (1 === result.data.book.status) {
                                setInterval(() => {
                                    jQuery.pjax({
                                        url: NICMS.api_uri + 'ajax.do',
                                        type: 'GET',
                                        data: [
                                            { name: 'method', value: 'book.spider.article' },
                                            { name: 'book_id', value: NICMS.param.book_id }
                                        ],
                                        success: function (res) {

                                        }
                                    });
                                }, 60000);
                            }
                        }
                    }
                });
            }
        }
    });
    let page = jQuery.get_url_query('page');
    page = page ? page : 1;
    app.load(page);

    window.paging = function (_p) {
        app.load(_p);
    };
</script>
