<div class="box">
    <div class="box-body">
        <form id="article">
            <div class="form-group">
                <label>{:lang('title')}</label>
                <input type="text" name="title" class="form-control" v-bind:value="items.title">
            </div>

            <div class="form-group">
                <label>{:lang('username')}</label>
                <input type="text" name="username" class="form-control" v-bind:value="items.username">
            </div>

            <div class="form-group">
                <label>{:lang('keywords')}</label>
                <textarea name="keywords" class="form-control" v-bind:value="items.keywords"></textarea>
            </div>

            <div class="form-group">
                <label>{:lang('description')}</label>
                <textarea name="description" class="form-control" v-bind:value="items.description"></textarea>
            </div>

            <div class="form-group">
                <label>{:lang('category')}</label>
                <!-- disabled -->
                <select class="form-control" name="category_id" v-model="category_id" v-on:change="filterType">
                    <option value="0">{:lang('select')}</option>
                    <template v-for="vo in category_list">
                        <optgroup v-if="vo.child || vo.model_id>=5" v-bind:label="vo.name"></optgroup>
                        <option v-else v-bind:value="vo.id" v-text="vo.name"></option>
                        <template v-for="v in vo.child">
                            <optgroup v-if="v.child || v.model_id>=5" v-bind:label="v.name"></optgroup>
                            <option v-else v-bind:value="v.id" v-text="v.name"></option>
                        </template>
                    </template>
                </select>
            </div>

            <div class="form-group">
                <label>{:lang('pass')}</label>
                <label>
                    <input type="radio" name="is_pass" value="1" v-bind:checked="1==items.is_pass ? true : false">
                    {:lang('yes')}
                </label>
                <label>
                    <input type="radio" name="is_pass" value="0" v-bind:checked="0==items.is_pass ? true : false">
                    {:lang('no')}
                </label>
            </div>

            <!-- 模型:文章 -->
            <template v-if="model_id==1">
                <div class="form-group">
                    <label>{:lang('thumb')}</label>
                    <input type="text" name="thumb" class="form-control thumb" v-bind:value="items.thumb">
                    <input type="file" name="upload" id="upload" v-on:change="upload('thumb')" class="form-control">
                    <img v-bind:src="items.thumb" class="thumb-box" style="display: none;">
                </div>
                <div class="form-group">
                    <label>{:lang('origin')}</label>
                    <input type="text" name="origin" class="form-control" v-bind:value="items.origin">
                </div>
            </template>

            <!-- 模型:相册 -->
            <template v-if="model_id==2">
                <div class="form-group">
                    <label>{:lang('width')}</label>
                    <input type="text" name="image_width" class="form-control image_width"
                        v-bind:value="items.image_width">
                </div>
                <div class="form-group">
                    <label>{:lang('height')}</label>
                    <input type="text" name="image_height" class="form-control image_height"
                        v-bind:value="items.image_height">
                </div>
                <div class="form-group">
                    <label>{:lang('image')}</label>
                    <input type="text" name="image_url[]" class="form-control image" v-bind:value="items.image_url">
                    <input type="file" name="upload" id="upload" v-on:change="upload('image')" class="form-control">
                    <img v-show="items.image_url" v-bind:src="items.image_url" class="image-box">
                </div>
            </template>

            <!-- 模型:下载 -->
            <template v-if="model_id==3">
                <div class="form-group">
                    <label>{:lang('file')}</label>
                    <input type="text" name="file_url" class="form-control file" v-bind:value="items.file_url">
                    <input type="file" name="upload" id="upload" v-on:change="upload('file')" class="form-control">
                </div>
            </template>

            <!-- 模型:文章,相册,下载 -->
            <template v-if="model_id<=3">
                <div class="form-group">
                    <label>{:lang('commend')}</label>
                    <label>
                        <input type="radio" name="is_com" value="1" v-bind:checked="1==items.is_com ? true : false">
                        {:lang('yes')}
                    </label>
                    <label>
                        <input type="radio" name="is_com" value="0" v-bind:checked="0==items.is_com ? true : false">
                        {:lang('no')}
                    </label>
                </div>

                <div class="form-group">
                    <label>{:lang('top')}</label>
                    <label>
                        <input type="radio" name="is_top" value="1" v-bind:checked="1==items.is_top ? true : false">
                        {:lang('yes')}
                    </label>
                    <label>
                        <input type="radio" name="is_top" value="0" v-bind:checked="0==items.is_top ? true : false">
                        {:lang('no')}
                    </label>
                </div>

                <div class="form-group">
                    <label>{:lang('hot')}</label>
                    <label>
                        <input type="radio" name="is_hot" value="1" v-bind:checked="1==items.is_hot ? true : false">
                        {:lang('yes')}
                    </label>
                    <label>
                        <input type="radio" name="is_hot" value="0" v-bind:checked="0==items.is_hot ? true : false">
                        {:lang('no')}
                    </label>
                </div>

                <div class="form-group">
                    <label>{:lang('sort')}</label>
                    <input type="text" name="sort_order" class="form-control" v-bind:value="items.sort_order">
                </div>

                <div class="form-group">
                    <label>{:lang('show time')}</label>
                    <input type="date" name="show_time" class="form-control" v-bind:value="items.show_time">
                </div>

                <div class="form-group">
                    <label>{:lang('access')}</label>
                    <select class="form-control" name="access_id">
                        <option value="0">{:lang('select')}</option>
                        <template v-for="vo in access_list">
                            <option v-bind:value="vo.id" v-text="vo.name"
                                v-bind:selected="vo.id==items.access_id ? true : false"></option>
                        </template>
                    </select>
                </div>
            </template>

            <!-- 分类 -->
            <template v-if="has_type">
                <div class="form-group">
                    <label>{:lang('type')}</label>
                    <select class="form-control" name="type_id" v-model="type_id">
                        <option value="0">{:lang('select')}</option>
                        <template v-for="vo in type_list">
                            <option v-bind:value="vo.id" v-text="vo.name"
                                v-bind:selected="vo.id==items.type_id ? true : false"></option>
                        </template>
                    </select>
                </div>
            </template>

            <!-- 自定义字段 -->
            <template v-if="has_fields">
                <div class="form-group" v-for="vo in fields_list">
                    <label v-text="vo.name"></label>
                    <template v-if="1==vo.type_id">
                        <textarea v-bind:name="'fields['+vo.id+']'" class="form-control"
                            v-bind:value="items.fields[vo.id]"></textarea>
                    </template>
                    <template v-else>
                        <input type="text" v-bind:name="'fields['+vo.id+']'" class="form-control"
                            v-bind:value="items.fields[vo.id]">
                    </template>
                </div>
            </template>

            <!-- 模型:文章,下载,单页 -->
            <div class="form-group" v-show="model_id==1 || model_id==3 || model_id==4">
                <label>{:lang('content')}</label>
                <textarea id="editor" v-html="items.content"></textarea>
            </div>

        </form>
    </div>
    <div class="box-footer">
        <button class="btn btn-primary" @click="save">{:lang('save')}</button>
    </div>
</div>
<script src="__STATIC__ckeditor5/ckeditor.js"></script>
<script src="__STATIC__ckeditor5/upload.js"></script>

<script>
    var article = new Vue({
        el: '.box',
        data: {
            has_type: false,
            type_id: 0,
            type_list: [],
            has_fields: false,
            fields_list: [],

            category_id: 0,
            category_list: [],
            access_list: [],
            model_id: 0,
            items: [],
        },
        methods: {
            load: function () {
                jQuery.pjax({
                    url: NICMS.api_uri + '/query.do',
                    type: 'GET',
                    data: [
                        { name: 'method', value: 'category.category.query' }
                    ],
                    success: function (result) {
                        if (result.code == 10000) {
                            article.category_list = result.data.list;
                        }
                    }
                });
                jQuery.pjax({
                    url: NICMS.api_uri + '/query.do',
                    type: 'GET',
                    data: [
                        { name: 'method', value: 'user.level.query' },
                        { name: 'limit', value: 100 }
                    ],
                    success: function (result) {
                        if (10000 == result.code) {
                            article.access_list = result.data.list;
                        }
                    }
                });

                jQuery.pjax({
                    url: NICMS.api_uri + '/query.do',
                    type: 'GET',
                    data: [
                        { name: 'method', value: 'content.article.find' },
                        { name: 'id', value: NICMS.param.id }
                    ],
                    success: function (result) {
                        if (10000 == result.code) {
                            article.items = result.data;
                            article.category_id = result.data.category_id;
                            article.model_id = result.data.model_id;
                            article.type_id = result.data.type_id;
                            article.filterType();
                        }
                    }
                });
            },
            filterType: function () {
                for (let index = 0; index < article.category_list.length; index++) {
                    const element = article.category_list[index];
                    if (element.id == article.category_id) {
                        article.model_id = element.model_id;
                        continue;
                    } else if (element.child) {
                        for (let i = 0; i < element.child.length; i++) {
                            const ele = element.child[i];
                            if (ele.id == article.category_id) {
                                article.model_id = ele.model_id;
                                continue;
                            }
                        }
                    }
                }
                if (article.model_id == 1) {
                }
                jQuery.pjax({
                    url: NICMS.api_uri + '/query.do',
                    type: 'GET',
                    data: [
                        { name: 'method', value: 'category.type.query' },
                        { name: 'category_id', value: article.category_id },
                        { name: 'limit', value: 100 }
                    ],
                    success: function (result) {
                        if (result.code == 10000) {
                            article.has_type = true;
                            article.type_list = result.data.list;
                        } else {
                            article.has_type = false;
                            article.type_list = [];
                        }
                    }
                });

                jQuery.pjax({
                    url: NICMS.api_uri + '/query.do',
                    type: 'GET',
                    data: [
                        { name: 'method', value: 'category.fields.query' },
                        { name: 'category_id', value: article.category_id },
                        { name: 'limit', value: 100 }
                    ],
                    success: function (result) {
                        if (result.code == 10000) {
                            article.has_fields = true;
                            article.fields_list = result.data.list;
                        } else {
                            article.has_fields = false;
                            article.fields_list = [];
                        }

                        ClassicEditor.create(document.querySelector('#editor'), {
                            toolbar: {
                                items: [
                                    'heading',
                                    '|',
                                    'fontFamily',
                                    'fontSize',
                                    'fontColor',
                                    'bold',
                                    'italic',
                                    'highlight',
                                    'link',
                                    'bulletedList',
                                    'numberedList',
                                    '|',
                                    'indent',
                                    'outdent',
                                    '|',
                                    'imageUpload',
                                    'blockQuote',
                                    'insertTable',
                                    'mediaEmbed',
                                    '|',
                                    'code',
                                    'codeBlock',
                                    '|',
                                    'undo',
                                    'redo'
                                ]
                            },
                            language: 'zh-cn',
                            image: {
                                toolbar: [
                                    'imageTextAlternative',
                                    'imageStyle:full',
                                    'imageStyle:side'
                                ]
                            },
                            table: {
                                contentToolbar: [
                                    'tableColumn',
                                    'tableRow',
                                    'mergeTableCells'
                                ]
                            },
                            licenseKey: '',
                            extraPlugins: [MyCustomUploadAdapterPlugin],
                        }).then(editor => {
                            window.editor = editor;
                        }).catch(err => {
                            console.error(err.stack);
                        });
                    }
                });
            },
            save: function () {
                var data = jQuery('#article').serializeArray();
                data.push({ name: 'method', value: 'content.article.editor' });
                data.push({ name: 'model_id', value: article.model_id });
                data.push({ name: 'content', value: window.editor.getData() });
                data.push({ name: 'id', value: NICMS.param.id });

                jQuery.pjax({
                    url: NICMS.api_uri + '/handle.do',
                    type: 'POST',
                    data: data,
                    success: function (result) {
                        if (10000 == result.code) {
                            jQuery.uiToast(result.message);
                            jQuery.set_cookie('editor', '');
                            history.back();
                        }
                    }
                });
            },
            upload: function (_type) {
                var data = new FormData(document.getElementById('article'));
                data.append('method', 'content.article.upload');
                if ('thumb' == _type) {
                    data.append('width', 100);
                    data.append('height', 100);
                    data.append('water', true);
                } else if ('image' == _type) {
                    var width = jQuery('.image_width').val();
                    var height = jQuery('.image_height').val();
                    if (!width || !height) {
                        alert('请输入宽高');
                        return;
                    }
                    data.append('width', width);
                    data.append('height', height);
                    data.append('water', true);
                }

                jQuery.upload({
                    url: NICMS.api_uri + '/upload.do',
                    file: 'article',
                    data: data,
                    success: function (result) {
                        jQuery.uiToast(result.message);
                        if (10000 == result.code) {
                            jQuery('.' + _type).val(result.data.save_path);
                            jQuery('.' + _type + '-box').show().attr('src', result.data.url);
                        }
                    }
                });
            }
        }
    });
    article.load();
    if (jQuery.get_cookie('editor')) {
        window.editor.setData(jQuery.get_cookie('editor'));
    }
    setInterval(function () {
        jQuery.set_cookie('editor', window.editor.getData());
    }, 60000);
</script>
