<div class="box">
    <div class="box-body">
        <form id="category">
            <div class="form-group">
                <label>{:lang('parent')}</label>
                <input type="text" class="form-control" disabled="true" v-bind:value="items.parent">
                <input type="hidden" v-bind:value="items.pid">
            </div>

            <div class="form-group">
                <label>{:lang('node name')}</label>
                <input type="text" name="name" class="form-control">
            </div>

            <div class="form-group">
                <label>{:lang('node title')}</label>
                <input type="text" name="title" class="form-control">
            </div>

            <div class="form-group">
                <label>{:lang('remark')}</label>
                <input type="text" name="remark" class="form-control" v-bind:value="items.remark">
            </div>

            <div class="form-group">
                <label>{:lang('level')}</label>
                <select class="form-control" name="level">
                    <template v-for="vo in items.level_list">
                        <option v-bind:value="vo.id" v-text="vo.name" v-if="items.level==vo.id" selected></option>
                        <option v-bind:value="vo.id" v-text="vo.name" v-else></option>
                    </template>
                </select>
            </div>

            <div class="form-group">
                <label>{:lang('show')}</label>
                <label>
                    <input type="radio" name="status" value="1" v-bind:checked="items.status==1 ? true : false">
                    {:lang('open')}
                </label>
                <label>
                    <input type="radio" name="status" value="0" v-bind:checked="items.status==0 ? true : false">
                    {:lang('close')}
                </label>
            </div>

            <div class="form-group">
                <label>{:lang('sort')}</label>
                <input type="text" name="sort_order" class="form-control">
            </div>
        </form>
    </div>
    <div class="box-footer">
        <button class="btn btn-primary">{:lang('save')}</button>
    </div>
</div>
<script>
    let node = new Vue({
        el: '.box',
        data: {
            items: []
        },
        methods: {
            load: function () {
                jQuery.pjax({
                    url: NICMS.api.url + '/query.do',
                    type: 'GET',
                    data: {
                        method: 'user.node.find',
                        id: NICMS.api.param.id
                    },
                    success: function (result) {
                        if (result.code == 10000) {
                            node.items = result.data.list;
                        }
                    }
                });
            }
        }
    });
    node.load();
</script>
