[app]
version     = 1.0.1 CB3
debug       = 1
admin_theme = default
upload_type = gif,jpg,png,zip,rar
upload_size = 1
authkey     = 9ceb31d7061f870fe2cc388282ea8febe1c7fd01

[database]
type     = mysql
hostname = 127.0.0.1
database = nicms
username = root
password =
hostport = 3306
prefix = nc_

[cache]
expire = 14400
