APP_DEBUG = false

[APP]
UPLOAD_SIZE = 1
UPLOAD_TYPE = gif,jpg,jpeg,png
HOST = //www.xxx.com
NAME = nicms

[DATABASE]
DRIVER   = mysql
TYPE     = mysql
HOSTNAME = 127.0.0.1
DATABASE = nicms
USERNAME = root
PASSWORD = xxx
HOSTPORT = 3306
PREFIX   = nc_
CHARSET  = utf8mb4
DEBUG    = false

[CACHE]
TYPE = file
EXPIRE = 1440

[ADMIN]
ENTRY = admin
THEME = default

[LANG]
DEFAULT_LANG = zh-cn
