<aside class="main-sidebar">
    <section class="sidebar">
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>

        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">LABELS</li>
            <li>
                <a v-bind:href="www_url" target="_blank">
                    <i class="fa fa-circle-o text-red"></i>
                    <span>{:lang('site home')}</span>
                </a>
            </li>
            <li>
                <a v-on:click="remove_cache">
                    <i class="fa fa-circle-o text-red"></i>
                    <span>{:lang('remove cache')}</span>
                </a>
            </li>
            <li class="header">MAIN NAVIGATION</li>
            <template v-for="vo in user_auth">
                <li v-bind:class="NICMS.api.param.logic==vo.name ? 'treeview active' : 'treeview'">
                    <a href="#">
                        <i v-bind:class="icons[vo.name]"></i>
                        <span v-text="vo.lang"></span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li v-for="v in vo.child" v-bind:class="NICMS.api.param.action==v.name ? 'active' : ''">
                            <a v-bind:href="v.url"><i class="fa fa-circle-o"></i>
                                <font v-text="v.lang"></font>
                            </a>
                        </li>
                    </ul>
                </li>
            </template>
        </ul>
    </section>
</aside>
<script>
    let sidebar = new Vue({
        el: '.main-sidebar',
        data: {
            icons: {
                settings: 'fa fa-gear',
                theme: 'fa fa-dashboard',
                category: 'fa fa-navicon',
                content: 'fa fa-edit',
                user: 'fa fa-group',
                wechat: 'fa fa-wechat',
                book: 'fa fa-book',
                extend: 'fa fa-plus-circle',
            },
            www_url: NICMS.rootDomain,
            user_auth: []
        },
        methods: {
            load: function () {
                jQuery.pjax({
                    url: NICMS.api.url + '/query.do',
                    type: 'GET',
                    data: [
                        { name: 'method', value: 'account.user.auth' }
                    ],
                    success: function (result) {
                        if (result.code == 10000 && result.data) {
                            jQuery('.content-header h1 font').text(result.data[NICMS.api.param.logic].child[NICMS.api.param.action].lang);
                            jQuery('.content-header h1 small').text(result.data[NICMS.api.param.logic].lang);
                            jQuery('.content-header .breadcrumb').append('<li><a>' + result.data[NICMS.api.param.logic].lang + '</a></li>');
                            jQuery('.content-header .breadcrumb').append('<li class="active"><a href="' + result.data[NICMS.api.param.logic].child[NICMS.api.param.action].url + '">' + result.data[NICMS.api.param.logic].child[NICMS.api.param.action].lang + '</a></li>');

                            sidebar.user_auth = result.data
                        }
                    }
                });
            },
            remove_cache: function () {
                jQuery.pjax({
                    url: NICMS.api.url + '/query.do',
                    type: 'GET',
                    data: [
                        { name: 'method', value: 'content.cache.recache' }
                    ],
                    success: function (result) {
                        if (result.code == 10000) {
                            jQuery.uiToast(result.message);
                        }
                    }
                });
            }
        }
    });
    sidebar.load();
</script>
