<IfModule mod_rewrite.c>
  Options +FollowSymlinks -Multiviews
  RewriteEngine On

  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^(.*)$ index.php/$1 [QSA,PT,L]
</IfModule>

<IfModule mod_deflate.c>
	AddOutputFilter DEFLATE html htm xml php jpg png js css
</IfModule>

<FilesMatch "\.(gif|jpg|jpeg|png|webp|ico|css|txt|pdf|flv|swf)$">
  <IfModule mod_headers.c>
    Header set Cache-Control "max-age=31536000"
  </IfModule>
</FilesMatch>

<FilesMatch "\.(ttf|otf|eot|woff)$">
  <IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "http://www.nicms.com"
  </IfModule>
</FilesMatch>
