<div class="box">
    <div class="box-body">
        <form id="type">
            <input type="hidden" name="id" v-bind:value="items.id">
            <div class="form-group">
                <label>{:lang('name')}</label>
                <input type="text" name="name" class="form-control" v-bind:value="items.name">
            </div>

            <div class="form-group">
                <label>{:lang('remark')}</label>
                <input type="text" name="remark" class="form-control" v-bind:value="items.remark">
            </div>

            <div class="form-group">
                <label>{:lang('category_id')}</label>
                <select class="form-control" name="category_id">
                    <option>{:lang('select')}</option>
                    <template v-for="vo in category">
                        <option v-bind:value="vo.id" v-text="vo.name" v-if="items.category_id==vo.id" selected></option>
                        <option v-bind:value="vo.id" v-text="vo.name" v-else></option>

                        <option v-for="v in vo.child" v-bind:value="v.id" v-text="'|__'+v.name" v-if="items.category_id==v.id" selected></option>
                        <option v-for="v in vo.child" v-bind:value="v.id" v-text="'|__'+v.name" else></option>

                    </template>
                </select>
            </div>
        </form>
    </div>
    <div class="box-footer">
        <button class="btn btn-primary" v-on:click="editor()">{:lang('save')}</button>
    </div>
</div>
<script>
    let type = new Vue({
        el: '.box',
        data: {
            category: [],
            items: []
        },
        methods: {
            cat: function () {
                jQuery.pjax({
                    url: NICMS.api.url + '/query.do',
                    type: 'GET',
                    data: {
                        method: 'category.category.query',
                    },
                    success: function (result) {
                        if (result.code == 10000) {
                            type.category = result.data.list;
                        }
                    }
                });
            },
            find: function () {
                jQuery.pjax({
                    url: NICMS.api.url + '/query.do',
                    type: 'GET',
                    data: {
                        method: 'category.type.find',
                        id: NICMS.api.param.id
                    },
                    success: function (result) {
                        if (result.code == 10000) {
                            type.items = result.data;
                        }
                    }
                });
            },
            editor: function () {
                var data = jQuery.getForm('#type');
                data['method'] = 'category.type.editor';
                jQuery.pjax({
                    url: NICMS.api.url + '/handle.do',
                    type: 'POST',
                    data: data,
                    success: function (result) {
                        if (result.code === 10000) {
                            jQuery.uiToast(result.message);
                            history.back();
                        }
                    }
                });
            }
        }
    });
    type.cat();
    type.find();
</script>
