<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base64加密/解密</title>
    <meta name="keywords" content="Base64加密、解密,Base64加密,Base64解密,Base64加密解密,Base64 encryption,Base64 decryption,Base64在线,Base64工具">
    <meta name="description" content="提供方便快捷的在线Base64加密、解密服务。">
    <link rel="dns-prefetch" href="https://cdn.jsdelivr.net" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha256-L/W5Wfqfa0sdBNIKN9cG6QA5F2qx4qICmU2VgLruv9Y=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js" integrity="sha256-chlNFSVx3TdcQ2Xlw7SvnbLAavAQLO0Y/LBiWX04viY=" crossorigin="anonymous"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/blueimp-md5@2.12.0/js/md5.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha256-WqU1JavFxSAMcLP2WIOI+GB2zWmShMI82mTpLDcqFUg=" crossorigin="anonymous"></script>
</head>

<body>
    <header id="layout-header" class="bg-dark">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <a class="navbar-brand" href="/">腐朽的木屋</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">首页</a>
                        </li>

                        <template v-for="items in nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown"
                                    role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                    v-text="items.name"></a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <template v-for="(vo, index) in items.child">
                                        <a class="dropdown-item" v-bind:href="vo" v-text="index"></a>
                                    </template>
                                </div>
                            </li>
                        </template>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <main id="layout-main">
        <div class="container-fluid">
            <div class="row">
                <div id="list" class="col-md">
                    <div class="card">
                        <div class="card-header">
                            Base64加密/解密
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <textarea id="txt" class="form-control"></textarea>
                            </div>
                        </div>

                        <div class="card-footer">
                            <button class="btn btn-primary" onclick="de()">加密</button>
                            <button class="btn btn-primary" onclick="en()">解密</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer id="layout-footer" class="bg-dark">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm text-white-50">
                    <p>
                        copyright © 2014-2015 <a href="/">niphp.com</a>版权所有&nbsp;
                        <a href="https://beian.miit.gov.cn/"rel="nofollow" target="_blank">陕ICP备15001502号-1</a>
                        &nbsp;
                        <a href="/sitemap.xml"target="_blank">sitemap</a>
                        &nbsp;&nbsp;Powered&nbsp;by&nbsp;<a href="https://github.com/levisun/nicms" rel="nofollow" target="_blank">NICMS</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>



    <script>
        function de() {
            document.getElementById("txt").value = window.btoa(document.getElementById("txt").value);
        }
        function en() {
            document.getElementById("txt").value = window.atob(document.getElementById("txt").value);
        }
    </script>
    <script src="./app.js"></script>
    <script>var _hmt = _hmt || [];(function() {var hm = document.createElement("script");hm.src = "https://hm.baidu.com/hm.js?f84c00b8cb5bc0e8462129c1bf5fb184";var s = document.getElementsByTagName("script")[0];s.parentNode.insertBefore(hm, s);})();(function(){var bp = document.createElement("script");var curProtocol = window.location.protocol.split(":")[0];if (curProtocol === "https") {bp.src = "https://zz.bdstatic.com/linksubmit/push.js";}else {bp.src = "http://push.zhanzhang.baidu.com/push.js";}var s = document.getElementsByTagName("script")[0];s.parentNode.insertBefore(bp, s);})();</script>
</body>

</html>
