{head}
<header id="layout-header" class="bg-dark">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand text-white" href="/">__NAME__</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">首页</a>
                    </li>

                    <template v-for="vo in nav">
                        <template v-if="vo.child[0]">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" v-bind:href="vo.url" id="navbarDropdown"
                                    role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                    v-text="vo.name"></a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <template v-for="v in vo.child">
                                        <a class="dropdown-item" v-bind:href="v.url" v-text="v.name"></a>
                                    </template>
                                </div>
                            </li>
                        </template>
                        <template v-else>
                            <li class="nav-item">
                                <a class="nav-link" v-bind:href="vo.url" v-text="vo.name"></a>
                            </li>
                        </template>
                    </template>
                </ul>
                <div class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" id="key" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" v-on:click="search">Search</button>
                </div>
            </div>
        </nav>
    </div>
</header>
<script>
    let layout_header = new Vue({
        el: '#layout-header',
        data: {
            nav: [],
            foot_nav: [],
        },
        methods: {
            navbar: function () {
                jQuery.pjax({
                    url: NICMS.api_uri + 'query.do',
                    method: 'get',
                    data: [
                        { name: 'method', value: 'nav.main.query' }
                    ],
                    success: function (result) {
                        if (10000 == result.code) {
                            layout_header.nav = result.data;
                        }
                    }
                });
                jQuery.pjax({
                    url: NICMS.api_uri + 'query.do',
                    method: 'get',
                    data: [
                        { name: 'method', value: 'nav.foot.query' }
                    ],
                    success: function (result) {
                        if (10000 == result.code) {
                            layout_header.foot_nav = result.data;
                        }
                    }
                });
            },
            search: function () {
                let key = jQuery('#key').val();
                key = jQuery.filter_str(key);
                if (key) {
                    window.location.href = '/search.html?key=' + key;
                }
            }
        }
    });
    layout_header.navbar();
</script>



<main id="layout-main" class="bg-light">
    <div class="container">
        {__CONTENT__}
    </div>
</main>



<footer id="layout-footer" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-sm text-white-50">
                <p>
                    <template v-for="vo in foot_nav">
                        <a v-bind:href="vo.url" v-text="vo.name"></a>
                    </template>
                </p>
                <p>__FOOTER_MSG__</p>
                <p>__COPYRIGHT__</p>
            </div>
        </div>
    </div>
</footer>
<script>
    let layout_footer = new Vue({
        el: '#layout-footer',
        data: {
            foot_nav: [],
        },
        methods: {
            load: function () {
                jQuery.pjax({
                    url: NICMS.api_uri + 'query.do',
                    method: 'get',
                    data: [
                        { name: 'method', value: 'nav.foot.query' }
                    ],
                    success: function (result) {
                        if (10000 == result.code) {
                            layout_footer.foot_nav = result.data;
                        }
                    }
                });
            },
        }
    });
    layout_footer.load();
</script>

__SCRIPT__

{/head}
