<script>
window.onload=function(){
    layui.use(['jquery', 'nicms', 'table'], function(){
        var nc = layui.nicms;
        var table = layui.table;
        nc.pjax({
            url: NICMS.api.url + '/cms.do',
            method: 'get',
            data: {
                method: 'search.article.lists',
                key: NICMS.param.key
            },
            success: function(result) {
                if (result.code == 'SUCCESS') {

                }
            }
        });
    });
}
</script>
