body {
    background-color: #333;
    color: #595959;
}
body a,
body a:hover {
    color: #595959;
}
.pagination li {
    padding: 12px;
}
#content {
    color: #595959;
    letter-spacing: 1px;
    word-spacing: .1em;
    word-wrap: break-word;
    word-break: break-all;
    font-size: 1.3rem;
    font-family: Raleway,Arial,"Microsoft YaHei",sans-serif;

    padding-top: 20px;
    padding-bottom: 20px;
}

#content p {
    text-indent: 3rem;
}
