body {
    background-color: #F5F5DC;
}
#app {
    padding: 20px 0;
}
.book_list a {
    margin: 10px 0;
    display: block;
}
body.dark,
body.dark a,
body.dark a:hover {
    color: #858585;
}
.dark {
    background-color: #333;
    /* color: #858585; */
}
.pagination li {
    padding: 12px;
}
#content {
    /* color: #858585; */
    letter-spacing: 1px;
    word-spacing: .1em;
    word-wrap: break-word;
    word-break: break-all;
    font-size: 1.35rem;
    line-height: 2.3rem;
    font-family: Raleway,Arial,"Microsoft YaHei",sans-serif;

    padding-top: 20px;
    padding-bottom: 20px;
}

#content p {
    text-indent: 2.8rem;
}
.but font {
    display: inline-block;
    padding: 5px;
}
