<aside class="main-sidebar">
    <section class="sidebar">
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>

        <ul class="sidebar-menu" data-widget="tree">
            <li v-for="vo in user_auth" v-bind:class="NICMS.param.logic==vo.name ? 'treeview active' : 'treeview'">
                <a>
                    <i class="fa fa-dashboard"></i> <span v-text="vo.lang"></span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li v-for="v in vo.child" v-bind:class="NICMS.param.controller==v.name ? 'active' : ''">
                        <a v-bind:href="v.url"><i class="fa fa-circle-o"></i><font v-text="v.lang"></font></a>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
</aside>
{tag:script}
jQuery.pjax({
    url: NICMS.api.url + '/handle/admin.do',
    type: 'POST',
    async: false,
    data: {
        method: 'account.auth.query'
    },
    success: function(result){
        if (result.code == 'SUCCESS' && result.data) {
            new Vue({
                el: '.main-sidebar',
                data: {
                    user_auth: result.data
                }
            });
        }
    }
});
{/tag}
