[class*='col-']{
    padding: 5px;

}
#layout-footer {
    padding-top: 3rem;
    padding-bottom: 1rem;
}
#layout-main {
    padding-top: 15px;
    padding-bottom: 15px;
}

#index-aside-right .card {
    margin-bottom: 15px;
}

.details h1,
.details h2,
.details h3,
.details h4,
.details h5,
.details h6 {
    font-size: 16px;
}
.details>p {
    text-indent: 2em;
}
.details p {
    margin-bottom: .5em;
}
.details blockquote {
    padding: .5em 1em;
    margin-left: 0;
    margin-right: 0;
    font-style: italic;
    border-left: 5px solid #ccc;
}
